.bio-container {
    max-width: 55vw;
    margin: 15vh auto 0;
    padding: 15px 0 15px 30vw;
    font-size: 1.2em;
    font-weight: 400;
    a {
        font-weight: 600;
        position:relative;
        display:inline-block;
    }
}