@import "../assets/base.scss";

footer {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: $base-padding * 2;
    background-color: $color-primary;
    font-size: 1.6em;
    @media (min-width:768px) {
        width: 100vw;
        font-size: 1em;
        padding: $base-padding * 10;
        background-color: transparent;
    }
}