<section class="bio-container">
<p>
    Hi! I'm a front-end developer based in <a href="www.google.com/search?q=nantes" target="_blank" title="Nantes, France">Nantes, France</a> and I love creating cool looking and user friendly websites.<br>
With a strong passion for responsive design and UX/UI. Always looking forward for my next challenge.</p>
<p>I've been working in <a href="https://www.linkedin.com/in/aylin-rodriguez/" target="_blank">Web Development since 2011</a></p>
<p>
    I also enjoy making music and photography under the name of <a href="https://open.spotify.com/artist/2E1kQ929nIrNwEKVkIO7iY?si=oBWm3HX7TDGOdCMPA7hOSA" target="_blank" title="Spotify">nocturnx</a>.
</p>
</section>

